@use 'variables' as v;

html {
    font-size: 62.5%;
    box-sizing: border-box;
    height: 100%;
}
body {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(to right bottom, #ccdce9, #d2dfec, #d7e3ee, #dde6f1, #e2eaf3);
    color: v.$blanco;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body {
    font-family: v.$fuente_principal;
    font-size: 1.6rem;
}
.contenedor {
    width: 95%;
    max-width: 1200px;
    margin: 0 auto;
}
a {
    text-decoration: none;
}

img {
    max-width: 100%;
}
